@import "config";
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: $bg-main;
  font-family: "Roboto", sans-serif;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
p {
  margin: 0;
}
button,
a {
  transition: all 0.1s;
  &:hover {
    opacity: 0.8;
  }
}

//CONTAINER//////////////////////

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(180px, 1fr) 5fr;
  .wrapper {
    padding: 15px;
    .avatar {
      display: flex;
      align-items: center;
      width: 30px;
      height: 30px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .main-side {
    overflow: auto;
    background-color: #fff;
    button {
      padding: 0;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      background-position: center center;
      cursor: pointer;
    }
  }
}

// SIDEBAR///////////////////////
sidebar .wrapper {
  height: 100vh;
  background-color: $main-theme;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-weight: 400;
  color: #fff;
  *:focus-visible {
    outline: none;
    outline: #000 solid 2px !important;
    border-radius: 5px;
  }
  .logo_avatar {
    display: flex;
    align-items: center;
    .dashboard-img {
      width: 40px;
    }
  }
  p {
    margin-left: 15px;
  }
  .sidebar_nav {
    display: grid;
    gap: 40px;
    img {
      width: 26px;
    }
    ul {
      display: grid;
      gap: 10px;
    }
    li {
      a {
        display: flex;
        align-items: center;
      }
    }
  }
}
// HEADER ////////////////////

header .wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #000;
  background-color: $bg-main;
  box-shadow: 0 2px 9px 0px $bg-grey;
  a {
    color: #000;
  }
  img {
    width: 20px;
    height: 20px;
    border-radius: 50px;
  }
  .header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 15px;
  }

  .search {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 5px;
    align-items: center;
    flex: 1 1 auto;
    .search_btn {
      background-image: url(/icons/magnify.svg);
    }
    .search-area {
      width: max(200px, 100%);
      height: 26px;
      padding-left: 10px;
      border-radius: 50px;
      border: none;
      background-color: $bg-grey;
      &:focus {
        background-color: #fff;
      }
    }
  }

  .nav_accaunt {
    width: fit-content;
    display: flex;
    gap: 10px;
    flex: 0 0 fit-content;
    padding-right: 15px;
    align-items: center;
    .acc-notification {
      background-image: url(/icons/bell-ring-outline.svg);
    }
  }
  .header_admin-panel {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }
  .user-greetings {
    display: flex;
    gap: 10px;
    align-items: center;
    .avatar {
      width: 50px;
      height: 50px;
    }

    .acc-link-name {
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
  .admin-controls {
    display: flex;
    gap: 20px;
    a {
      background-color: $main-theme;
      border-radius: 50px;
      padding: 5px 15px;
    }
  }
}

// MAIN ////////////////////////////
main .wrapper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  h2 {
    font-size: 1.2rem;
    line-height: 0;
  }
  h3 {
    font-size: 1.1rem;
    margin: 0;
  }
  h4 {
    font-size: 1rem;
    margin: 0;
    color: #000;
  }
  .projects {
    width: 100%;
    .cards_container {
      a {
        color: #000;
      }
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      gap: 15px;
      .card {
        border-left: 4px solid $main-theme;
        border-radius: 5px;
        padding: 15px;
        background-color: $bg-main;
        display: flex;
        flex-direction: column;
        p {
          margin-bottom: 5px;
        }
        .card_buttons {
          margin-top: auto;
          display: flex;
          gap: 5px;
          justify-content: end;

          .star {
            background-image: url(/icons/star-plus-outline.svg);
          }
          .eye {
            background-image: url(/icons/eye-plus-outline.svg);
          }
          .branch {
            background-image: url(/icons/source-branch.svg);
          }
        }
      }
    }
  }
  // ASIDE //////////////////
  aside {
    font-size: 0.8rem;
    .announcements_list{
      background-color: $bg-main;
      border-radius: 5px;
      padding: 15px;
      ul{
        display: flex;
        flex-direction: column;
        gap: 15px;
        position: relative;
        li + li::before {
          content: '';
          position: absolute;
          transform: translateY(-400%);
          height: 2px;
          width: 100%;
          border-radius: 50px;
          background-color: $bg-grey;
        }

      }
    }
  }
}
